<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/leaflet.photomarker.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/markercluster/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/markercluster/MarkerCluster.Default.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/leaflet/leaflet.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/assets/leaflet/leaflet.js"></script>
  <script src="{{site.baseurl}}/assets/markercluster/leaflet.markercluster.js"></script>
  <script src="{{site.baseurl}}/assets/leaflet.photomarker.js"></script>
</head>
<body>
<div class="container">
{{content}}
<div class="row span12">
  <p>Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png"></p>
</div>
</div>
</body>
</html>
